<table>

  <thead>
  <tr>
    <th>Product</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>User</th>
  </tr>

  </thead>

  <tbody>
  <% @subscriptions.each do |subscription| %>

    <tr>
      <td>
        <%= link_to subscription.product.name, subscription_path(subscription.id) %>
      </td>
      <td>
        <%= subscription.status %>
      </td>
      <td>
        <%= subscription.created_at %>
      </td>
      <td>
        <%= subscription.updated_at %>
      </td>
      <td>
        <%= subscription.user.email %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>
