<p>
  <strong>Quantity: </strong>
  <code>
    <%= subscription.quantity %>
  </code>
</p>

<p>
  <strong>Status: </strong>
  <code>
    <%= subscription.status %>
  </code>
</p>

<p>
  <strong>Created At: </strong>
  <code>
    <%= subscription.created_at %>
  </code>
</p>

<p>
  <strong>Updated At: </strong>
  <code>
    <%= subscription.updated_at %>
  </code>
</p>

<p>
  <strong>User email: </strong>
  <a>
    <%= subscription.user.email %>
  </a>
</p>